
  .login{
    background-color: grey;
  }

 .formL {
    margin: auto;
    border-radius: 10px;
    border: 4px solid black;
    background-color:#17151C;
    padding: 20px;
    width: 400px;
  }

  ul{
    margin: 25px;
    list-style-type: none;
    padding: 0;
  }

  form li + li {
    margin-top: 2em;
  }

  input{
    font: 1em arial;
    width: 300px; 
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
  }

  button{
    background-color:#00A6D6;
    border-color: rgb(15, 1, 80);
    color:white;
    border-width: 3px;
    border-radius: 15px;
    padding: 10px 15px;
    box-shadow: 10px;
    font-family: arial;
    width: 100px;
  }

  button:hover{
    background-color: rgb(15, 1, 80);
    border-color: #00A6D6;

  }

  button:active{
    transform: translateY(4px);
  }

li {
  margin: 10px 10px;
}

p{
  color: red;
  font-weight: bolder;
  font-family: Arial;
}